.sn-popconfirm__main {
    // display: -webkit-box;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
}

.sn-popconfirm__icon {
    margin-right: 5px;
    // display: inline-block;
    float: left;
}

.sn-popconfirm__action {
    text-align: right;
    margin: 0;
}
