.sn-simple-layer {
    position: fixed;
    display: none;
    background: #fff;
    border: 1px solid #ccc;

    &.z-show {
        display: block;
    }

    .simple-layer-cntr {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .simple-layer-close-btn {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 100;
    }

    .f-csp {
        cursor: pointer;
    }
}



