.m-scroll-demo {
    margin: 10px auto;
    width: 800px;
    height: 400px;
    border: 1px solid #eee;

    li {
        margin: 0;
        padding: 10px;
        list-style: none;
        font-size: 16px;
        border-bottom: 1px solid #eee;
    }
}
