.m-tree-demo-container {
  display: flex;
  .block {
    flex: 1;
    &:first-child {
      padding-right: 20px;
    }
    &:last-child {
      border-left: 1px solid #eff2f6;
      padding-left: 20px;
    }
    .title {
      margin-bottom: 15px;
    }
  }
  .custom-tree-node {
    flex: 1;
    display: flex;
  }
}